
@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-image: url('https://masumbillah6778.github.io/images/stone-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
}

:root {
    --header-green-color: #36ed22;
    --aboutus-background-green-color: rgb(28, 225, 97);
    --heading-color: #000;
    --primary-color: #2162e3;
    --heading-a-tag-color: #fff;
    --heading-a-tag-hover-color: #212121;
    --all-h2-color: #000;
    --aboutus-strong-color: #000;
    --aboutus-p-tag-color: #008;
    --aboutus-border-color: rgb(28, 225, 97);
}

.dark-mode {
    --header-green-color: #515251;
    --aboutus-background-green-color: rgb(7, 8, 7);
    --heading-color: #fff;
    --primary-color: #212121;
    --heading-a-tag-color: #f2f3f9;
    --heading-a-tag-hover-color: #36ed22;
    --all-h2-color: #fff;
    --aboutus-strong-color: #36ed22;
    --aboutus-p-tag-color: #fff;
    --aboutus-border-color: rgb(142, 144, 143);
}

body {
  background-image: url("https://github.com/masumbillah6778/image/raw/main/tania1.jpg");
  background-color: rgb(0,0,0,.2);
  background-blend-mode: overlay;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /*width: 962px;
  aspect-ratio: 16 / 9;*/
  line-height: 1.6;
  overflow-x: hidden;
  border: 2px solid red;
}



body.dark-mode {
  background-image: url("https://github.com/masumbillah6778/image/raw/main/tania-thumbnail.jpg");
  background-color: ed;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /*width: 962px;
  aspect-ratio: 16 / 9;*/
  line-height: 1.6;
  overflow-x: hidden;
  border: 2px solid red;
}






/*======================================== Top Menu ========================================*/

.header {
  background-color: gray;
  width: 100%;
  height: 10vh;
  padding: 1.6rem 4.8rem;
  display: flex;
  top: 0;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
  z-index: 9;
}

.dark-mode .header {
  background-color: #3beb2b;
}

.header img {
  height: 50px;
  padding-top: 20px;
  border-radius: 100px;
}

.brand-logo-name {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-family: 'love-letters';
  letter-spacing: 2px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: var(--heading-a-tag-color);
  transition: color 0.3s ease;
}

a.active {
  background-color: rgb(255,0,0);
  color: white;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

a:hover {
  color: var(--heading-a-tag-hover-color);
}

.navbar-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-lists li {
  margin-right: 20px;
}

.navbar-lists li:last-child {
  margin-right: 0;
}

.navbar-link {
  color: var(--heading-a-tag-color);
  padding: 10px;
  transition: background-color 0.3s;
}

.icon {
  display: none;
}

.navbar-lists li:nth-child(1) i {
  color: rgb(0,128,0);
}

.navbar-lists li:nth-child(2) i {
  color: rgb(0,0,255);
}

.navbar-lists li:nth-child(3) i {
  color: rgb(255,215,0);
}

.navbar-lists li:nth-child(4) i {
  color: rgb(255,0,0);
}

.switch {
  width: 50px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: white;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}







h2.audio-heading {
  color: red;
  font-size: 25px;
  font-family: 'sonsieone';
  text-align: center;
}

h2.vdieo-heading {
  color: red;
  font-size: 25px;
  font-family: 'sonsieone';
  text-align: center;
}

h2.imges-heading {
  color: red;
  font-size: 25px;
  font-family: 'sonsieone';
  text-align: center;
}

h2.book-heading {
  color: red;
  font-size: 25px;
  font-family: 'sonsieone';
  text-align: center;
}







/*============================== D ==============================*/

.book-content {
  background-color: transparent;
  color: hsl(180 68% 5%);
  height: 600px;
  margin: 0;
  display: lex;
  perspective: 1000px;
  overflow: hidden;
  border: 2px solid red;
}

.full-book {
  position: relative;
  display: flex;
  margin: auto;
  width: 400px;
  height: 500px;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  rotate: 1 0 0 30deg;
}

.full-book {
  counter-reset: page -1;
  & a {
    color: inherit;
  }
}

.book-page {
  width: 100%;
  --thickness: 4;
  flex: none;
  display: flex;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * .23cqmin)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
  box-shadow: 0em .5em 1em -.2em #00000020;
}



/*============================== COVER PAGE ==============================*/

.front-side.cover h3,
.back-side.cover h3 {
  background-color: red;
  color: yellow;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times";
  text-align: center;
}

.front-side.cover p,
.back-side.cover p {
  background-color: gree;
  color: yellow;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times";
  position: fixed;
  bottom: 0;
}

.back-side.cover p {
  column-count: 2;
}




/*============================== PAGE ADE ==============================*/

.front-side,
.back-side {
  position: relative;
  flex: none;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  /* Fix backface visibility Firefox: */
  translate: 0px;
}

.front-side {
  background-color: red;
}

.back-side {
  background-color: green;
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}
  
.book-page .front-side titel {
  background-color: olive;
  color: gold;
  padding: 10px;
  font-size: 20px;
  font-family: "times";
  font-weight: bold;
  display: block;
}

.book-page .back-side titel {
  background-color: olive;
  color: gold;
  padding: 10px;
  font-size: 20px;
  font-family: "times";
  font-weight: bold;
  display: block;
}

.front-side.cover {
  background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
    hsl(231, 32%, 29%) url("https://masumbillah6778.github.io/images/music-thumbnail-10.jpg") 50% / cover;
  color: hsl(200 30% 98%);
}

.back-side.cover {
  background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
    hsl(231, 32%, 29%) url("https://masumbillah6778.github.io/images/music-thumbnail-10.jpg") 50% / cover;
  color: hsl(200 30% 98%);
} 










/*============================== PAGE DETAILS ==============================*/

.cover-photo {
  background: url("https://masumbillah6778.github.io/images/bg/love-bg.jpg");
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.profile {
  background-color: blue;
  width: 150px;
  position: absolute;
  bottom: -50px;
  left: 130px;
  border-radius: 50%;
  border: 2px solid gold;
}

h3.profile-name {
  color: white;
  margin-top: 60px;
  font-size: 30px;
  font-family: solaiman-lipi;
  text-align: center;
}

p.about {
  color: yellow;
  margin-top: 0px;
  font-size: 15px;
  font-family: solaiman-lipi;
  text-align: center;
  line-height: 20px;
}

p.about img {
  width: 20px;
  -webkit-animation-name: spinner;
  animation-name: spinner;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes spinner {
  83.33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  83.33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}






/*============================== ICON ==============================*/

.icons {
  background-color: cyan;
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  bottom: 30px;
  position: fixed;
  border-radius: 20px;
  border: 2px solid;
}

.icons i {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  transition: 0.2s;
}
  
.icons a:nth-child(1) {
  background-color: ellow;
  color: red;
}
  
.icons a:nth-child(2) {
  background-color: ellow;
  color: green;
}
  
.icons a:nth-child(3) {
  background-color: ellow;
  color: gold;
}
  
.icons a:nth-child(4) {
  background-color: ellow;
  color: blue;
}
  
.icons a:nth-child(5) {
  background-color: ellow;
  color: brown;
}

.icons a:nth-child(6) {
  background-color: ellow;
  color: lime;
}

.icons a:nth-child(7) {
  background-color: ellow;
  color: teal;
}

.icons a:hover {
  color: magenta;
  transform: scale(1.5); 
  transition: 0.3s;
  text-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}





/*============================== PAGE NUMBR ==============================*/

.front-side.cover::after,
.back-side.cover::after {
  background-color: transparent;
  color: transparent;
}

.front-side::after,
.back-side::after {
  position: absolute;
  counter-increment: page;
  content: counter(page) ".";
  font-size: 20px;
  font-family: "times";
  font-weight: bold;
  font-style: italic;
}

.front-side::after {
  background-color: green;
  color: white;
  padding: 5px;
  right: 0px;
  bottom: 0px;
  border: 1px solid;
  border-radius: 20px 0px 0px 0px;
}

.back-side::after {
  background-color: red;
  color: yellow;
  padding: 5px;
  left: 0px;
  bottom: 0px;
  border: 1px solid;
  border-radius: 0px 20px 0px 0px;
}

















/*======================================== MOBILE SCREEN ========================================*/

@media screen and (max-width: 768px) {
  .header {
    background-color: red;
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    z-index: 9;
  }

  .dark-mode .header {
    background-color: olive;
  }
    
  .header img {
    width: ;
  }

  .brand-logo-name {
    color: gold;
    font-size: 25px;
  }

  .icon {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    flex-direction: row-reverse;
  }
    
  .audio-heading {
    color: gold;
    font-size: 20px;
  }
    
  .vdieo-heading {
    color: gold;
    font-size: 20px;
  }
    
  .imges-heading {
    color: gold;
    font-size: 20px;
  }

  .navbar-lists {
    background-color: #3beb2b;
    width: 100%;
    padding-top: 10px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 998;
  }

  .navbar-lists.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-lists.responsive li {
    margin: 10px 0;
  }

  .navbar-link {
    padding: 10px 20px;
  }

  .navbar-link i {
    display: none;
  }










  .book-content {
    display: flex;
  }
  
  .full-book {
    background-color: live;
    width: 180px;
    height: 300px;
  }


  /*============================== COVER PAGE ==============================*/
  .front-side.cover h3,
  .back-side.cover h3 {
    background-color: red;
    color: yellow;
    padding: 5px;
    font-size: 15px;
  }
  
  
  /*============================== PAGE DETAILS ==============================*/
  .front-side.cover h3
  .back-side.cover h3 {
    background-color: red;
    color: yellow;
    font-size: 15px;
  }

  .book-page .front-side titel {
    background-color: blue;
  }
  
  .book-page .back-side titel {
    background-color: blue;
  }
  
  .cover-photo {
    height: 80px;
  }
  
  .profile {
    width: 80px;
    bottom: -40px;
    left: 50px;
  }
  
  h3.profile-name {
    font-size: 15px;
    margin-top: 50px;
  }
  
  p.about {
    font-size: 10px;
    line-height: 15px;
  }

  p.about img {
    width: 10px;
  }


  /*============================== ICON ==============================*/

  .icons {
    background-color: black;
    margin: 0px;
    padding: 1px 10px;
  }
  
  .icons i {
    padding: 0px;
    font-size: 10px;
  }

  .back-side.cover p {
    color: yellow;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    text-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  }
  
  
  /*============================== PAGE NUMBR ==============================*/
  .front-side::after,
  .back-side::after {
    padding: 5px;
    font-size: 10px;
  }
}