@import url('https://masumbillah6778.github.io/fonts/bangla/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background: pin;
  width: 100%;
  idth: 962px;
  aspect-ratio: 16 / 9;
  position:relative;
  border: 2px solid red;
}
  
.content h1 {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'solaiman-lipi';
  text-align: center;
}
  
.main-thumbnail {
  text-align: center;
}
  

.main-thumbnail img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 0px;
  border: 2px solid red;
}
  
.password-head {
  color: blue;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'shokun-tola';
}
  
.text-input {
  background-color: #fb4f14;
  color: yellow;
  width: 98.5%;
  height: 60px;
  margin: 70px 10px 10px;
  padding-left: 10px;
  font-size: 30px;
  font-family: times;
  font-weight: bold;
  left: 0;
  bottom: -50;
  position: absolutely;
  border: 1px solid black;
  text-shadow: -50px 0px 0px rgba(66,66,66,.0);
  box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}
  
.error-text {
  background-color: pink;
  color: red;
  width: 97.3%;
  margin-left: 10px;
  margin-bottom: -52px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'solaiman-lipi';
  text-align: center;
  display: none;
  border: 1px solid blue;
  border-radius: 5px;
}

.text-input:focus {
  outline:none;
}
  
label {
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  padding: 20px;
  top: -52px;
  left: 15px;
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'solaiman-lipi';
  position: relative;
  text-transform: capitalize;
  transition: top .3s;
  pointer-events: none;
  opacity: 0.3;
}

input:focus ~ label,
input:valid ~ label {
  background: #fb4f14;
  color: yellow;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'solaiman-lipi';
  top: 288px;
  position: absolute;
  opacity: 1;
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
}
  
.submit-btn {
  background-color: blue;
  color: yellow;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 20px;
  font-family: 'solaiman-lipi';
  font-weight: bold;
  text-align: center;
  display: block;
  border-radius: 6px;
  border: 1px solid red;
  text-shadow: 0px 1px 0px #7cacde;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
}
  
#footer {
  background-color: red;
  width: 100%;
  height: 65px;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: solaiman-lipi;
  text-align: center;
  bottom: 0;
  position: absolute;
  border: 2px solid blue;
}





/* ==================== MOBILE & TABLETS SCREEN SIZE ==================== */

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    background: pink;
    width: 100%;
    min-height: 100vh;
    border: 2px solid blue;
  }
  
  .content h1 {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'solaiman-lipi';
    text-align: center;
  }

  .main-thumbnail img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid red;
  }
  
  .password-head {
    color: blue;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'shokun-tola';
  }

  .main-thumbnail {
    text-align: center;
  }
  
  .main-thumbnail img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 100px;
    border: 4px solid red;
  }

  .Password-head {
    color: red;
    margin-top: 5px;
    font-size: 15px;
  }

  .text-input {
    background-color: green;
    color: white;
    width: 96%;
    height: 60px;
    margin-top: 80px;
    font-size: 25px;
  }

  label {
    font-size: 15px;
    top: -55px;
  }

  input:focus ~ label,
  input:valid ~ label {
    background: green;
    color: yellow;
    font-size: 10px;
    top: 390px;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
  }

  .error-text {
    background-color: red;
    color: white;
    width: 96%;
    margin-bottom: -46px;
    font-size: 15px;
  }

  .submit-btn {
    background-color: red;
    color: white;
    font-size: 20px;
  }

  #footer {
    background-color: red;
    width: 97%;
    height: 70px;
    color: white;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: solaiman-lipi;
    text-align: center;
    bottom: 0;
    position: absolute;
    border: 2px solid blue;
  }
}
