body {
	background-image: url('https://masumbillah6778.github.io/images/stone-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
}
  
.content-box {
  margin: 10px;
}

.content-box .secret a {
  color: transparent;
}

marquee {
  width: 100%;
  height: 70px;
}

.content-box .box {
  background-color: red;
  width: 30px;
  height: 30px;
  margin: ;
  padding: 10px;
  position: relative;
  border-radius: 50px;
  animation-iteration-count: infinite;
  animation-name: animation;
  animation-duration: 4s;
  border-radius: 50px;
  border: 4px solid white;
}

@keyframes animation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.content-box .box:hover {
  border: none;
}

.content-box .box i {
  color: transparent;
  font-size: 30px;
  transform: scale(2);
  transition: all ease-in-out .5s;
}

.content-box .box i:nth-child(1):hover {
  color: white;
}

.content-box .box i:nth-child(2):hover {
  color: white;
}

.content-box .box i:nth-child(3):hover {
  color: white;
}

.content-box .box i:nth-child(4):hover {
  color: white;
}

.content-box .box i:nth-child(5):hover {
  color: white;
}

.content-box .box i:nth-child(6):hover {
  color: white;
}

.content-box .box i:nth-child(7):hover {
  color: white;
}

.content-box .box i:nth-child(8):hover {
  color: white;
}

.content-box .box i:nth-child(9):hover {
  color: white;
}





  
@media only screen and (max-width: 600px) {
  .content-box {
    background-image: url('https://masumbillah6778.github.io/images/stone-bg2.jpg');
    background-size: cover;
    width: 350px;
    height: 350px;
  }
  
  .form-box {
    width: 280px;
    height: 180px;
    border: 2px solid red;
    border-radius: 25px;
  }
  
  .form-box h3 {
    color: yellow;
    padding: 5px 0px;
    font-size: 20px;
    border-bottom: 2px solid yellow;
  }
  
  .input-box {
    width: 100%;
    margin: 30px 10px;
  }
  
  .form-box input {
    color: yellow;
    width: 51%;
    padding: 10px;
    font-size: 20px;
  }
  
  .input-box p#error {
    color: rgb(255,255,0);
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}